@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html {
    font-family: 'Righteous', cursive;
    color: white;
    background-color: black;
}

h1 {
    text-align: center;
}

.tarefas {
    background-color: rgb(34, 34, 34);
    width: 600px;
    height: auto;
    margin: auto;
    border-radius: 5px;
    padding-bottom: 10px;
}

.pesquisa {
}

.pesquisa input {
    margin: 30px 1% 10px 5%;
    width: 65%;
    height: 40px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: white solid 1px;
    font-size: 16px;
    font-family: 'Righteous', cursive;
}


.pesquisa button {
    margin: 30px 5% 10px 1%;
    height: 42px;
    width: 20%;
    background-color: chartreuse;
    font-size: 18px;
    border: none;
    font-family: 'Righteous', cursive;
    border-radius: 5px;
    transition-duration: 0.3s;
    cursor: pointer;
}


.tarefas button:hover{
    background-color: rgb(34, 34, 34);
    transition-duration: 0.3s;
    color: chartreuse;
    border: 1px solid #7fff00;
}

.tarefa {
    display: flex;
    background-color: black;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.tarefa p {
    width: 81%;
    display: inline-block;
    text-align: justify;
}

.icons {
    height: 100%;
    width: 16%;
    display: inline-block;
    text-align: end;
}

.icons img {
    margin: 5px 7px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.tarefaok {
    text-decoration: line-through;
    border-left: #7fff00 solid 5px;
}
